@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

main {
  margin: 80px auto;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 15px;
  font-size: 40px;
}

button {
  /* margin-right: 20px; */
  font-size: 13px;
  cursor: pointer;
  border: 1px solid black;
}

#increase {
  width: 80px;
  background-color: rgb(4, 117, 4);
  color: white;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 25px 0;
  border-radius: 50px;
}

#reset {
  width: 50px;
  padding: 15px 0px;
  background-color: rgb(247, 9, 9);
  border-radius: 50%;
}
